* {
    padding: 0%;
    margin: 0%;
    background-color: bisque;
}

header .container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h3 {
    padding-top: 100px;
}

.login-form form {
    border: 16px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-items {
    margin-top: 15px;
}

#username {
    padding: 10px;
}

#password{
    padding: 10px; 
}

#sign-In-Btn{
    padding: 10px;
}

#sign-in-with-fb{
    padding: 10px;
}

#sign-in-with-google{
    padding: 10px;
}