<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}
    Disabili-Buddy
    {% endblock %}
  </title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'accessibility/style.css' %}" />
</head>

<body>
  <header>
    <div class="container">
      <div class="nav-bar">
        <a href="#">Accounts</a>
        <a href="{% url 'info' %}">Info</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'profile'%}">Profile</a>
      </div>
    </div>
  </header>
  {% block content %}
  <!-- default content text (typically empty) -->
  {% endblock %}
</body>

</html>