{% extends "base.html" %} {% load static %}

<link rel="stylesheet" href="{% static 'accessibility/style.css' %}" />

{% block title %} App name {% endblock %} {% block content %}

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Welcome to app name!</h1>

    <h2 class="hero-subtitle">Designed for xyz.</h2>

    <p>users: {{ users }}</p>
    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.get_username }}</p>

    <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    {% else %}
    <button type="button" class="hero-button">
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    </button>
    {% endif %}
  </div>
</section>


{% endblock %}
