{% extends "base.html" %}

{% block title %} App name {% endblock %} {% block content %}

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Disabili-Buddy</h1>

    <h2 class="hero-subtitle">An assistive tool to help disabled folx safely communicate with law enforcement.</h2>

    <p>users: {{ users }}</p>
    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.get_username }}</p>

    <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    {% else %}
    <button type="button" class="hero-button">
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    </button>
    <button type="button" class="hero-button">
      <a href="{% url 'create_user' %}?next={{ request.path }}">Create User</a>
    </button>
    {% endif %}
  </div>
</section>


{% endblock %}